/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
      font-family:'Courier New', Courier, monospace;
      font-size:14px;
      color:#333;
  }
  
  header {
    padding: 20px;
    margin-top:20px;
    margin-bottom: 20px;
    color: #333000;
    background: #d3f2f2;
  }
  
  section {
      padding:20px;
      margin-bottom:20px;
      background-color:#fff;
  }
  
  #left {
        background-color:#30948D;
        width:33.3%;
        text-decoration-color: inherit;
        float:left;
  }
  
  #middle {
        background-color:#9E1212;
        width:33.3%;
        float:left;
  }
  
  #right {
        background-color:#30948D;
        width:33.3%;
        float:left;
  }
  
  #full {
      margin-top:20px;
      /* Note that right now it's pushing against floating elements (namely the Left, Middle, Right classes( */
      /* So we're adding clearfix class to the HTML FUll section by <div class=clearfix"> in front of the Section IDs*/
      width:100%;
      /* padding:90px; */
      background-color:gray;
      
  }
  
  #division {
      padding:20px;
      margin-top:15px;
      /* text-align:right; */
      background-color:#6ea3da;
  }
  
  aside {
      float:left;
      height:200px;
      width:33.3%;
      padding:20px;
      margin-left:30px;
      border:1px solid white;
      /*
      without shortcut:
      border-width:1px;
      border-style: solid;
      border-color:white;
      */
      background-color:white;
  }
  
  footer {
      background-color:#fff000;
      clear:both;
      padding:20px;
      margin-bottom:0px;
  }
  
  .clearfix::after {
    content: '';
    display:block;
    clear:both;

  }