* {
  font-family: "Open Sans", sans-serif;
  font-family: "Sansita Swashed", cursive;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1,
h2,
h3,
h4 {
  letter-spacing: 7px;
}
.paragraph1 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: pink;
}

.paragraph2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
